.messages {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .message {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    .text {
      padding: 10px;
      border-radius: 12px;
      font-size: 15px;
      color: #fff;
    }

    &.user {
      align-items: flex-start;
      font-size: 14px;
      color: rgb(176, 176, 176);

      .text {
        background: #514c4c;
      }

      .user {
        padding-left: 10px;
      }
    }

    &.me {
      align-items: flex-end;

      .text {
        background: #0d49d7;
      }

      .user {
        padding-right: 10px;
      }
    }
  }
}
